main {
  min-height: 100vh;
}
.form_container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
main input,
textarea {
  border: 1px solid #000 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}
main textarea:invalid {
  border-color: red !important;
}
main input:invalid {
  border-color: red !important;
}
main input:invalid + .error-message {
  display: block !important;
}
/* form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
} */
